# NPM dependencies
/node_modules

# Testing
/coverage

# Production
/build

# Fonts bundle
/public/vfs-fonts.bundle*.json

# Environment configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
